    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="loginForm">
            <p>
                <mat-form-field appearance="legacy" style="width: 20rem">
                  <!-- <mat-label>Legacy form field</mat-label> -->
                  <input matInput placeholder="Username" formControlName="username">
                </mat-form-field>
              </p>
              <p>
                <mat-form-field  appearance="legacy"  style="width: 20rem"  >
                  <!-- <mat-label>Legacy form field</mat-label> -->
                  <input type="password" matInput placeholder="Password" formControlName="password">
                </mat-form-field> 
              </p>
            </form>
        </mat-card-content>
        <mat-card-actions>
                <button mat-raised-button color="primary"  [disabled]="!loginForm.valid" (click)="onClick()">Login</button>
                <button mat-button color="primary" routerLink="/register" >Register</button>   
        </mat-card-actions>
      </mat-card>
      